.input--split {
    display: flex;
    margin-top: 40px;
    padding: 50px;
    background-color: lightblue;
    border: 1px solid black;
    position: relative;
}

.input--split > label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0%, -100%);
    border: 1px solid black;
    border-bottom: none;
    padding: 5px;
    margin-left: -1px;
}

.input--split > div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

.input--split input {
    text-align: center;
    width: 60px;
}

.label--top {
    position: absolute;
    top: -100%;
    padding-bottom: 10px;
    transform: translateY(-50%);
}

.label--bottom {
    position: absolute;
    bottom: calc(-100% - 30px);
    padding-top: 10px;
    transform: translateY(-50%);
}

/* before est le bout de la flèche */

.input--split > div > label::before {
    border-color: black;
    border-style: solid;
    border-width: 0 0 2px 2px;
    content: "";
    position: absolute;
    display: block;
    height: 6px;
    width: 6px;
}

.input--split .label--top::before {
    left: 50%;
    margin-top: -3px;
    bottom: 0;
    transform: rotate( 315deg ) translateX(-50%);
    -webkit-transform: rotate( 315deg ) translateX(-50%);
}
.input--split .label--bottom::before {
    right: calc(50% - 2px);
    margin-top: -1px;
    top: 0;
    transform: rotate( 135deg ) translateX(-50%);
    -webkit-transform: rotate( 135deg ) translateX(-50%);
}

/* after est le corps de la flèche */
.input--split > div > label::after {
    background: black;
    content: "";
    display: block;
    left: 50%;
    height: 10px;
    position: absolute;
    width: 3px;
    transform: translateX(-50%);
    margin-left: 1px;
}

.input--split .label--top::after {
    bottom: -1px;
}

.input--split .label--bottom::after {
    top: -1px;
}